.home_banner {
    height: 40em;
    background-image: url(../pictures/background-home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
img.profil-picture {
    border-radius: 100%;
    width: 15em;
}
.profil-block {
    padding-top: 10em;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    
}
.profil-block h3 {
    margin-top: 20px;
    color: white;
    background-color: rgba(72, 170, 200, 0.575);
    padding: 0.2em;
}
.profil-block h4 {
    color: rgba(72, 170, 200);
    border-radius: 2px;
    padding: 0.5em;
    background-color: rgba(0, 0, 0, 0.4);
}
.social-block a{
    padding: 1em;
    border-radius: 10px;
    transition: all 0.2s;
}
.social-block a:hover{
    opacity: 0.8;
}
.explication1 {
    background-color: rgba(0.2, 0.3, 0.2, 0.9);
    padding: 1em;
    box-shadow: gray 1px 1px 1px;
    border-radius: 10px;
}
.explication1 h3 {
    color: rgba(72, 170, 200);
}
.explication1 p {
    color: white;
}
.explication2 {
    background-color: rgba(72, 170, 200);
    padding: 1em;
    box-shadow: gray 1px 1px 1px;
    border-radius: 10px;
}
.explication2 h3 {
    color: white;
}
.footer {
    margin-top: 40px;
    height: 2em;
    background-color: rgba(72, 170, 200);
}