.PostPage {
    padding-top: 80px;
    background: linear-gradient(to top , #f38e0063,#cfaa76);
    
    
}
a .articleList {
    text-decoration: none;
    transition: all 0.5s;
    background: white;
    padding: 1em;
    height: 250px;
    border: 3px solid #f4623a;
}
a:hover {
    text-decoration: none !important;
}

a .articleList:hover {
    transform: scale(1.01);
   text-decoration: none !important;
    
}

a .articleList p {
    color: #f4623a;
}

a .articleList h3 {
    padding: 1em;
    color: white;
    background-color: #f4623a;
}

.articles-admin {
    border: 1px solid grey;
    margin-top: 10px;
}

.single-title {
    background-color: white;
    padding: 0.7em;
    color: #f4623a;
}

.single-chapo {
    background-color: #f4623a;
    color: white;
    padding: 1em;
}

.single-content {
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid #f4623a;
    padding: 2em;
    border-radius: 4px;
}

.single-article {
    margin-top: 1em;
  
}

.comments {
    border: 2px solid #f4623a;
    padding: 0.6em;
    color: rgb(53, 53, 53);
}
#listPost {
    background-color: rgba(83, 57, 2, 0.342);
    margin-bottom: 30em;
    color: white;
}
